{% extends "layout.njk" %}

{% block head %}

    <title>WebWheels - Editando Anúncio</title>

{% endblock %}

{% block content %}

    <form action="/sell/car?_method=PUT" method="POST" enctype="multipart/form-data">
        <div class="card part1">
            <h1>Editando Anúncio para:</h1>
            <span>{{ carInfo.carFabric }} </span><span>{{ carInfo.carName }}</span>
            <h4>Precisa revisar algum dos detalhes informados? Prossiga com as mudanças:</h4>
            
            <div class="selling-info">

                <div class="fields car-name">
                    <h3>Qual carro deseja Vender?</h3>
                    <input
                    class="inptFormat inpt-blocked"
                    type="text"
                    name="car_model"
                    id="car_model"
                    placeholder="{{ carInfo.car_model }}"
                    value="{{ carInfo.car_model }}"
                    autocomplete="off"
                    disabled/>
                </div>
                <div class="fields color">
                    <h3>Qual a Cor do seu Veículo?</h3>
                    <select class="inptFormat" name="color" id="color" onchange="colorChange.previewBoxColor()">
                        <option value="null">--- SELECIONE UMA COR ---</option>
                        <option value="Dourado" {% if carInfo.color == 'Dourado' %} selected {% endif %}>Amarelo/Dourado</option>
                        <option value="Azul" {% if carInfo.color == 'Azul' %} selected {% endif %}>Azul</option>
                        <option value="Branco" {% if carInfo.color == 'Branco' %} selected {% endif %}>Branco</option>
                        <option value="Laranja" {% if carInfo.color == 'Laranja' %} selected {% endif %}>Laranja</option>
                        <option value="Marrom" {% if carInfo.color == 'Marrom' %} selected {% endif %}>Marrom</option>
                        <option value="Prata" {% if carInfo.color == 'Prata' %} selected {% endif %}>Prata</option>
                        <option value="Preto" {% if carInfo.color == 'Preto' %} selected {% endif %}>Preto</option>
                        <option value="Rosa" {% if carInfo.color == 'Rosa' %} selected {% endif %}>Rosa</option>
                        <option value="Roxo" {% if carInfo.color == 'Roxo' %} selected {% endif %}>Roxo</option>
                        <option value="Verde" {% if carInfo.color == 'Verde' %} selected {% endif %}>Verde</option>
                        <option value="Vermelho" {% if carInfo.color == 'Vermelho' %} selected {% endif %}>Vermelho</option>
                        <option value="Outra" {% if carInfo.color == 'Outra' %} selected {% endif %}>Outras Cores</option>
                    </select>
                    <input type="color" name="color-preview" id="color-preview" value="#FFFFFF" disabled>
                </div>
                <div class="fields">
                    <h3>Ano de Fabricação:</h3>
                    <input class="inptFormat" type="number" name="car_year" id="car_year" placeholder="O Ano em que seu Carro foi Fabricado ..." min="1950" max="{{ maxYear }}" value="{{ carInfo.car_year }}">
                </div>
                <div class="fields">
                    <h3>Quilometragem:</h3>
                    <input class="inptFormat" type="text" name="km" id="km" placeholder="Quantos KM rodados com seu carro ..." value="{{ carInfo.km }}" onkeydown="formatInputValues.applyFormat(this, 'formatKm')">
                </div>
                <div class="fields">
                    <h3>Combustível:</h3>
                    <select class="inptFormat" name="gas_type" id="gas_type">
                        <option value="null" >--- SELECIONE O ABASTECIMENTO ---</option>
                        <option value="Álcool" {% if carInfo.gas_type == 'Álcool' %} selected {% endif %}>Álcool</option>
                        <option value="Gasolina" {% if carInfo.gas_type == 'Gasolina' %} selected {% endif %}>Gasolina</option>
                        <option value="Diesel" {% if carInfo.gas_type == 'Diesel' %} selected {% endif %}>Diesel</option>
                        <option value="Flex" {% if carInfo.gas_type == 'Flex' %} selected {% endif %}>Flex (Gasolina e Álcool)</option>
                        <option value="GNV" {% if carInfo.gas_type == 'GNV' %} selected {% endif %}>GNV (Gás Natural Veicular)</option>
                        <option value="Elétrico" {% if carInfo.gas_type == 'Elétrico' %} selected {% endif %}>Elétrico</option>
                        <option value="Híbrido" {% if carInfo.gas_type == 'Híbrido' %} selected {% endif %}>Híbrido (Elétrico, Gasolina e Álcool)</option>
                    </select>
                </div>
                <div class="fields">
                    <h3>Final da Placa:</h3>
                    <input class="inptFormat" type="number" name="plate_num" id="plate-num" placeholder="O último número da sua Placa ..." min="0" max="9" value="{{ carInfo.plate_num }}">
                </div>
                <div class="fields">
                    <h3>Carroceria:</h3>
                    <select class="inptFormat" name="car_type" id="car_type">
                        <option value="null">--- SELECIONE UMA CARROCERIA ---</option>
                        <option value="Hatchback" {% if carInfo.car_type == 'Hatchback' %} selected {% endif %}>Hatch/Hatchback</option>
                        <option value="Sedã" {% if carInfo.car_type == 'Sedã' %} selected {% endif %}>Sedã</option>
                        <option value="Station Wagon" {% if carInfo.car_type == 'Station Wagon' %} selected {% endif %}>Perua/Station Wagon (SW)</option>
                        <option value="Coupé" {% if carInfo.car_type == 'Coupé' %} selected {% endif %}>Coupé/Cupê</option>
                        <option value="Conversível" {% if carInfo.car_type == 'Conversível' %} selected {% endif %}>Conversível</option>
                        <option value="Minivan" {% if carInfo.car_type == 'Minivan' %} selected {% endif %}>Minivan</option>
                        <option value="Limousine" {% if carInfo.car_type == 'Limousine' %} selected {% endif %}>Limousine</option>
                        <option value="SUV" {% if carInfo.car_type == 'SUV' %} selected {% endif %}>SUV</option>
                        <option value="Jipe" {% if carInfo.car_type == 'Jipe' %} selected {% endif %}>Jipe</option>
                        <option value="Picape" {% if carInfo.car_type == 'Picape' %} selected {% endif %}>Picape</option>
                    </select>
                </div>
                <div class="fields">
                    <h3>IPVA Pago?</h3>
                    <div class="ipva radio">
                        <input type="radio" name="ipva" id="ISim" value="Sim" {% if carInfo.ipva == 'Sim' %} checked {% endif %}/><label for="ISim">Sim</label>
                        <input type="radio" name="ipva" id="INão" value="Não" {% if carInfo.ipva == 'Não' %} checked {% endif %}/><label for="INão">Não</label>
                    </div>
                </div>
                <div class="fields">
                    <h3>Câmbio:</h3>
                    <select class="inptFormat" name="cambium" id="cambium">
                        <option value="null">--- SELECIONE O TIPO DO CÂMBIO ---</option>
                        <option value="Automático" {% if carInfo.cambium == 'Automático' %} selected {% endif %}>Automático</option>
                        <option value="Automatizada de dupla embreagem" {% if carInfo.cambium == 'Automatizada de dupla embreagem' %} selected {% endif %}>Automatizada de dupla embreagem</option>
                        <option value="CVT" {% if carInfo.cambium == 'CVT' %} selected {% endif %}>CVT</option>
                        <option value="Mecânica" {% if carInfo.cambium == 'Mecânica' %} selected {% endif %}>Mecânica/Manual</option>
                        <option value="Semi-Automático" {% if carInfo.cambium == 'Semi-Automático' %} selected {% endif %}>Semi-Automático</option>
                    </select>
                </div>
                <div class="fields">
                    <h3>Único Dono?</h3>
                    <div class="owner radio">
                        <input type="radio" name="owner" id="OSim" value="Sim" {% if carInfo.owner == 'Sim' %} checked {% endif %}/><label for="OSim">Sim</label>
                        <input type="radio" name="owner" id="ONão" value="Não" {% if carInfo.owner == 'Não' %} checked {% endif %}/><label for="ONão">Não</label>
                    </div>
            </div>
        </div>
            <div class="arrows">
                <div class="blocked">
                    <i class="material-icons">arrow_back</i>
                </div>
                <div class="next">
                    <i class="material-icons" onclick="sellingForm.nextForm('1')">arrow_forward</i>
                </div>
            </div>

        <!-- FORM DIVIDE (pt. 1 to pt. 2) --> 

        </div>

        <div class="card part2 form-hidden">
            <h1>Editando Anúncio para:</h1>
            <span>{{ carInfo.carFabric }} </span><span>{{ carInfo.carName }}</span>
            <h4>Gostaria de acrescentar ou reduzir algumas informações da descrição? Vá em frente:</h4>
            
            <div class="selling-items">
                <h3>Descrição do Veículo:</h3>
                <textarea name="description" id="description" cols="30" rows="10" maxlength="1500"
                placeholder="Algumas dicas: Informar sobre a documentação, em dia ou atrasada, ser transparente e repassar detalhes positivos e negativos como: carro bem cuidado, interior impecável, ou então, informar sobre batidas/arranhões, - os famosos detalhes - caso houver, problemas na suspensão etc ... Max.(1500)">{{ carInfo.description }}</textarea>
                
                <h3>Itens:</h3>
                <h4>Aqui você tem liberdade para escolher alguns itens que o seu carro<br/>possui e você pode adicionar todos os itens caso os tenha,<br/>mas não se esqueça de clicar no Botão <b>"+"</b> ao encontrar o item desejado:</h4>
                <div class="add">
                    <select name="itens-select" id="itens">
                        <option value="null">---SELECIONE UM ITEM ---</option>
                        <option value="Airbag">Airbag</option>
                        <option value="Ar Condicionado">Ar Condicionado</option>
                        <option value="Ar Quente">Ar Quente</option>
                        <option value="Alarme">Alarme</option>
                        <option value="Travas Elétricas">Travas Elétricas</option>
                        <option value="Freio ABS">Freio ABS</option>
                        <option value="GPS">GPS</option>
                        <option value="Controle de Tração">Controle de Tração</option>
                        <option value="Desembaçador Traseiro">Desembaçador Traseiro</option>
                        <option value="Sensores de Estacionamento">Sensores de Estacionamento</option>
                        <option value="Volante com Regulagem de Altura">Volante com Regulagem de Altura</option>
                        <option value="Blindagem">Blindagem</option>
                        <option value="Rádio MP3">Rádio MP3</option>
                        <option value="Rádio Bluetooth">Rádio Bluetooth</option>
                        <option value="Computador de Bordo">Computador de Bordo</option>
                        <option value="Rodas de Liga Leve">Rodas de Liga Leve</option>
                    </select>
                    <i class="material-icons add-box">add_box</i>
                    <div class="itens-container">
                        {% for item in carInfo.itens %}
                            <h5>{{ item }}<i class="material-icons remove-circle md-18" onclick="removeItens.remove(event)">remove_circle</i></h5>
                        {% endfor %}
                    </div>
                    <input type="hidden" name="itens_array" value="{{ carInfo.itens }}" />
                </div>
            </div>
            <div class="arrows">
                <div class="previous">
                    <i class="material-icons" onclick="sellingForm.previousForm('2')">arrow_back</i>
                </div>
                <div class="next">
                    <i class="material-icons" onclick="sellingForm.nextForm('2')">arrow_forward</i>
                </div>
            </div>
        </div>

        <!-- FORM DIVIDE (pt. 2 to pt. 3) --> 

        <div class="card part3 form-hidden">
            <h1>Editando Anúncio para:</h1>
            <span>{{ carInfo.carFabric }} </span><span>{{ carInfo.carName }}</span>
            <h4>Talvez você tenha se inspirado e tirado fotos mais artísticas e profissionais<br/>do seu carro, então, encorajamos você a mudar mesmo!!!</h4>

            <div class="border">
                <input type="file" name="photos" id="photos" multiple accept="image/*" onchange="handleImage.startPreview(event)" />
                <div>
                    Escolher Arquivos
                    <i class="material-icons">add_photo_alternate</i>
                </div>
            </div>
            <div class="preview-images">
                {% for photo in carPhotos %}
                    <div id="{{ photo.id }}">
                        <img src="{{ photo.path }}">
                        <i class="material-icons" onclick="handleImage.removeOldPhoto(event)">clear</i>
                    </div>
                {% endfor %}
            </div>
            <input type="hidden" name="removed_files" />
            <input type="hidden" name="file_length" value="{{ carPhotos|length }}" />
            <div class="arrows">
                <div class="previous">
                    <i class="material-icons" onclick="sellingForm.previousForm('3')">arrow_back</i>
                </div>
                <div class="next">
                    <i class="material-icons" onclick="sellingForm.nextForm('3')">arrow_forward</i>
                </div>
            </div>
        </div>

        <!-- FORM DIVIDE (pt. 3 to pt. 4) --> 

        <div class="card part4 form-hidden">
            <h1>Editando Anúncio para:</h1>
            <span>{{ carInfo.carFabric }} </span><span>{{ carInfo.carName }}</span>
            <h4>Se mudou? Informou o endereço incorreto? Inseriu um preço errado?<br/>Sem problemas, faça suas mudanças:</h4>

            <div class="selling-info">

                <div class="fields">
                    <h3>CEP:</h3>
                    <input class="inptFormat" type="text" name="cep" id="cep" value="{{ userAddress.cep }}" placeholder="Seu Código Postal ..." onkeydown="formatInputValues.applyFormat(this, 'formatCep')" />
                </div>

                <div class="fields">
                    <h3>Rua:</h3>
                    <input class="inptFormat" type="text" name="road" id="road" value="{{ userAddress.road }}" placeholder="O nome da sua Rua ..." />
                </div>

                <div class="fields">
                    <h3>Bairro:</h3>
                    <input class="inptFormat" type="text" name="neighborhood" id="neighborhood" value="{{ userAddress.neighborhood }}" placeholder="O nome do seu Bairro ..." />
                </div>

                <div class="fields">
                    <h3>Estado e Cidade:</h3>
                    <input class="inptFormat" type="text" name="city" id="city" value="{{ userAddress.city }}" placeholder="Ex: São Paulo - SP" />
                </div>

                <div class="fields">
                    <h3>Complemento:</h3>
                    <input class="inptFormat" type="text" name="complement" id="complement" value="{{ userAddress.complement }}" placeholder="Ex: Nº 322 / Apto. 74 / Casa ou Empresa ..." />
                </div>

                <div class="fields">
                    <h3>Referência:</h3>
                    <input class="inptFormat" type="text" name="reference" id="reference" value="{{ userAddress.reference }}" placeholder="Ex: Próximo à Praça Juventude ..."  />
                </div>

                <div class="fields">
                    <h3>Telefone para Contato:</h3>
                    <input class="inptFormat" type="text" name="phone" id="phone" value="{{ userAddress.phone }}" placeholder="Seu melhor telefone/celular ..." onkeydown="formatInputValues.applyFormat(this, 'formatPhone')" />
                </div>

                <div class="fields">
                    <h3>Preço do Anúncio:</h3>
                    <input class="inptFormat" type="text" name="price" id="price" value="{{ carInfo.price }}" placeholder="O preço do seu veículo ..." onkeydown="formatInputValues.applyFormat(this, 'formatPrice')" />
                </div>

                <div class="dynamic-update">
                    <input type="hidden" name="adressAvailabilityCheck" id="adress-availability-check" value="{{ userAddress.cep }}" />
                    <input type="hidden" name="updateOrNot" id="updateOrNot" value="0" />
                </div>

                <div>
                    <input type="hidden" name="ad_id" value="{{ carInfo.id }}">
                    <button class="btn sell" type="submit" onclick="changedCep.ask()">Alterar Dados</button>
                </div>

            </div>
            <div class="arrows">
                <div class="previous">
                    <i class="material-icons" onclick="sellingForm.previousForm('4')">arrow_back</i>
                </div>
                <div class="blocked">
                    <i class="material-icons">arrow_forward</i>
                </div>
            </div>
        </div>
    </form>

    <form class="del-form" method="POST" action="/sell/car?_method=DELETE">
        <input type="hidden" name="ad_id" value="{{ carInfo.id }}">
        <button class="dltBtn" type="submit">Deletar Anúncio</button>
    </form>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/carsData.js"></script>
    <script>
        const dltBtn = document.querySelector('.dltBtn');
        dltBtn.addEventListener('click', () => {
            const confirmation = confirm('Você tem certeza que deseja deletar este anúncio? Uma vez deletado, não poderemos desfazer a ação!');
            if (!confirmation) {
                event.preventDefault();
                return;
            };
        });
    </script>

{% endblock %}