{% extends "layout.njk" %}

{% block head %}

    <title>WebWheels - Home</title>

{% endblock %}

{% block content %}

    <div class="home-container">
        <h1>Mais Pesquisados</h1>
    </div>

{% endblock %}