{% extends "layout.njk" %}

{% block head %}

    <title>WebWheels - Trocar Senha</title>

{% endblock %}

{% block content %}

    <div class="card register-container">
        <a href="/users/account/{{ session.userId }}"><i class="material-icons goback">keyboard_backspace</i></a>
        <h1>Trocar Senha</h1>
        <h4>Para trocar sua senha, preencha os campos abaixo:</h4>
        <form method="POST" action="/users/password-change?_method=PUT">
            <div class="register-fields">
                <div>
                    <i class="material-icons">lock</i><input type="password" name="actualPassword" placeholder="Informe sua senha Atual ...">
                </div>
                <div>
                    <i class="material-icons">repeat</i><input type="password" name="actualPasswordRepeat" placeholder="Repita a senha Atual ...">
                </div>
                <div>
                    <i class="material-icons">lock</i><input type="password" name="newPassword" placeholder="Informe sua nova senha ...">
                </div>
                <div>
                    <i class="material-icons">repeat</i><input type="password" name="newPasswordRepeat" placeholder="Repita a nova senha ...">
                </div>
            </div>
            <button type="submit" class="btn">
                Trocar
            </button>
        </form>
    </div>

{% endblock %}