@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;400;700&display=swap');

:root {
    --primary-color: #5c74fd;
}

* {
    font-family: Epilogue;
    margin: 0;
    padding: 0;
    border: 0;
}

div.card {
    margin: 48px auto;
    width: 800px;
    height: 600px;

    background-color: #F0F0F0;
    border-radius: 50px;
    box-shadow: 2px 2px 12px -0.4px rgba(0, 0, 0, 0.5);
}

i.goback {
    position: relative;
    right: 580px;
    top: 30px;

    color: var(--primary-color);
    font-size: 24pt;
    background-color: white;
    border-radius: 20px;

    box-shadow: 2px 2px 8px -0.4px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

i.goback:hover {
    color: white;
    background-color: rgb(255, 72, 72);
    transition: 0.3s;
}