.part1 h1, .part2 h1, .part3 h1, .part4 h1 {
    margin-bottom: 10px;
}

.part1 span, .part2 span, .part3 span, .part4 span {    
    font-weight: bolder;
    font-size: 18pt;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.part1 span:nth-child(3), .part2 span:nth-child(3), .part3 span:nth-child(3), .part4 span:nth-child(3) {
    color: var(--primary-color)
}