<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="css" href="/home.css">
    <link rel="stylesheet" text="css" href="/layout.css">
    <link rel="stylesheet" text="css" href="/users/login.css">
    <link rel="stylesheet" text="css" href="/users/register.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    
    {% block head %}

    {% endblock %}

</head>
<body>

    <nav>
        <div class="menu">
            <a href="/"><img src="/webwheels_logo.png" alt="WebWheels Logo"></a>
            <ul>
                <li><a href="#">Comprar</a></li>
                <li><a href="#">Vender</a></li>
                {% if not session.userId %}
                <div>
                    <li>
                        <a href="/users/login">Entrar<i class="material-icons">login</i></a>
                    </li>
                </div>
                {% else %}
                <div>
                    <li>
                        <form action="/users/logout" method="POST">
                            <button id="logout-btn" type="submit">Sair<i class="material-icons">transit_enterexit</i></button>
                        </form>
                    </li>
                </div>
                {% endif %}
            </ul>
        </div>
    </nav>

{% block content %}
    
{% endblock %}

</body>
</html>