<link rel="stylesheet" text="css" href="/home.css">
<link rel="stylesheet" text="css" href="/layout.css">
<link rel="stylesheet" text="css" href="/users/login.css">
<link rel="stylesheet" text="css" href="/users/register.css">
<link rel="stylesheet" text="css" href="/users/forgot-password.css">
<link rel="stylesheet" text="css" href="/users/submenu.css">
<link rel="stylesheet" text="css" href="/users/user-info.css">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">